<div class="container">
  <h3 class="title is-3"><%= @customer.full_name %></h3>
  <% if customer.image.present?%>
    <div class="card-image">
      <figure class="image">
        <p></p>
      </figure>
    </div>
  <%end %>
</div>